In [84]:
import os
import csv
import pandas as pd
import numpy as np
import random

In [85]:
data_file = "data/Final_data_table.csv"

In [86]:
#Load general data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

,Island_Name,Acreage,continent,Country,latitude,longitude,price,Large Acreage,Ocean Island,Income Potential,Islands with Beaches
0,Rangyai Island,110,Asia,Thailand,7.954390,98.447306,160000000,yes,yes,yes,yes
1,Spectabilis Island,460,North America,Bahamas,24.358032,-76.582153,62000000,yes,yes,yes,yes
2,Cave Cay,222,North America,Bahamas,23.901611,-76.263142,60000000,yes,yes,yes,yes
3,Nengo Nengo Atoll,2223,Europe,France,-18.753102,-141.807896,55778670,yes,yes,yes,yes
4,Kandoo Island,42,Asia,Maldives,5.852108,73.336561,Price Upon Request,yes,yes,yes,yes

In [87]:
#select relevant data
new_data = data_file_pd[["Island_Name", "continent", "Country","price", "latitude", "longitude"]].head()
new_data.head()

,Island_Name,continent,Country,price,latitude,longitude
0,Rangyai Island,Asia,Thailand,160000000,7.954390,98.447306
1,Spectabilis Island,North America,Bahamas,62000000,24.358032,-76.582153
2,Cave Cay,North America,Bahamas,60000000,23.901611,-76.263142
3,Nengo Nengo Atoll,Europe,France,55778670,-18.753102,-141.807896
4,Kandoo Island,Asia,Maldives,Price Upon Request,5.852108,73.336561

In [88]:
#Find out the empty spots of data
data_file_pd.count()

Island_Name             263
Acreage                 263
continent               259
Country                 262
latitude                263
longitude               263
price                   263
Large Acreage           263
Ocean Island            263
Income Potential        263
Islands with Beaches    263
dtype: int64

In [89]:
#clean data
clean_data_file_pd = data_file_pd.replace(['Price Upon Request', 
                                    'Joint Venture Opportunity',
                                    'Under Contract',
                                    'Sold'],"NaN")
clean_data_file_pd.head()

,Island_Name,Acreage,continent,Country,latitude,longitude,price,Large Acreage,Ocean Island,Income Potential,Islands with Beaches
0,Rangyai Island,110,Asia,Thailand,7.954390,98.447306,160000000,yes,yes,yes,yes
1,Spectabilis Island,460,North America,Bahamas,24.358032,-76.582153,62000000,yes,yes,yes,yes
2,Cave Cay,222,North America,Bahamas,23.901611,-76.263142,60000000,yes,yes,yes,yes
3,Nengo Nengo Atoll,2223,Europe,France,-18.753102,-141.807896,55778670,yes,yes,yes,yes
4,Kandoo Island,42,Asia,Maldives,5.852108,73.336561,NaN,yes,yes,yes,yes

In [90]:
#select specifi data
clean_new_data_pd = clean_data_file_pd[["Island_Name", 
                                        "continent",
                                        "Country",
                                        "price", 
                                        "Acreage",
                                        "latitude", 
                                        "longitude"]]
clean_new_data_pd

,Island_Name,continent,Country,price,Acreage,latitude,longitude
0,Rangyai Island,Asia,Thailand,160000000,110,7.954390,98.447306
1,Spectabilis Island,North America,Bahamas,62000000,460,24.358032,-76.582153
2,Cave Cay,North America,Bahamas,60000000,222,23.901611,-76.263142
3,Nengo Nengo Atoll,Europe,France,55778670,2223,-18.753102,-141.807896
4,Kandoo Island,Asia,Maldives,NaN,42,5.852108,73.336561
5,Vadinolhu Island Resort,North America,Maldives,NaN,19,2.017677,73.359218
6,Serenity Beaches Resort,South Pacific Ocean,Tonga,NaN,8,-19.853491,-174.412374
7,Igoigori Island,Oceania,Papua New Guinea,NaN,150,-10.725912,150.289700
8,Ngerbelas Island,Oceania,Palau,NaN,21,8.043057,134.699699
9,Big Scrub Island,Europe,United Kingdom,NaN,170,18.467824,-64.512578
10,Lovango Cay,North America,United States of America,NaN,5,18.362453,-64.803750
11,Tojo Una Una Island,Asia,Indonesia,NaN,3089,-0.745349,121.764953
12,Ginger Island,Europe,United Kingdom,NaN,258,18.385175,-64.477784
13,Praia do Algodão,South America,Brazil,NaN,29,-23.005735,-44.315759
14,Blunder Bay Estates,Europe,United Kingdom,NaN,1,18.493906,-64.402288
15,Mounu Island Resort,South Pacific Ocean,Tonga,NaN,7,-18.751279,-174.067945
16,Pelican Island,Caribbean,Antigua,NaN,32,17.105437,-61.703936
17,Isla Rancheria,Central America,Panama,NaN,310,8.267830,-82.422245
18,Blackbook Listing\n(2521),NaN,SVG,NaN,0,13.010051,-61.230645
19,Darby Island,North America,Bahamas,46000000,554,23.849595,-76.227634
20,Blackbook Listing\n(2106),Asia,Turks and Caicos,NaN,0,21.850000,-72.116667
21,Motu Tane,europe,France,39000000,10,-16.449048,-151.763053
22,Organica Beach,Oceania,Panama,38000000,1492,8.309173,-78.970234
23,Villa Katsura,Europe,United Kingdom,NaN,3,18.489843,-64.414578
24,Little Ragged Island,North America,Bahamas,35000000,700,22.164909,-75.705165
25,Big Grand Cay Archipelago,North America,Bahamas,29000000,213,27.221578,-78.316285
26,Frozen Cay and Alder Cay,North America,Bahamas,29000000,84,25.543681,-77.713680
27,Bird Cay,North America,Bahamas,26000000,250,25.400356,-77.815285
28,Kanacea Island,South Pacific Ocean,Fiji,26000000,3085,-17.263613,-179.151735
29,10 Kilometers Beachfront,Central America,Belize,NaN,2213,16.253724,-88.580942
...,...,...,...,...,...,...,...
233,Pink Pearl Island,Central America,Nicaragua,NaN,1,12.437352,-83.422921
234,El Nido Peninsula,Asia,Philippines,199000,3,11.103552,119.334874
235,Deadman Caye 699acres,Central America,Belize,199000,1,17.193085,-87.866505
236,Angus Island,North America,Canada,190000,15,44.849032,-62.451315
237,Wee Wee Caye,Central America,Belize,180000,2,16.764914,-88.142418
238,Spuhn Island Lots,North America,United States of America,169900,2,58.341097,-134.657992
239,Cockroach Bay,Central America,Belize,150000,10,17.496238,-87.783293
240,"6-Acre Beachfront Parcel, Southern Long Caye",Central America,Belize,150000,6,17.080391,-88.036643
241,Deadman Caye 941 acres,Central America,Belize,149000,1,17.194520,-87.865990
242,Spanish Lookout Caye,Central America,Belize,NaN,186,17.412716,-88.070159
243,Tikina-i-ra Island,South Pacific Ocean,Fiji,Price By Negotiation,10233,-16.768884,178.489903
244,Jupiter Island,South America,Ecuador,NaN,642,0.432841,-80.057110
245,2620,Europe,Greece,NaN,1350,38.069310,19.025321
246,Tovu Island,South Pacific Ocean,Fiji,Offered for Long-term Lease,180,-17.346108,178.058848
247,Little Bay Estate,Europe,United Kingdom,NaN,7,18.491556,-64.364994
248,26-Acre Island in Blue Ground Range,Central America,Belize,NaN,3,16.814858,-88.150996
249,The Balam Escape,Central America,Belize,NaN,9500,17.985908,-88.198140
250,Pair of Fiji Islands,South Pacific Ocean,Fiji,NaN,25,-17.112112,177.246906
251,Gibraleon Island,Central America,Panama,NaN,227,8.516864,-79.045166
252,Wailagilala Island,South Pacific Ocean,Fiji,NaN,113,-16.748948,-179.103198
253,Denarau Peninsula,Australia,Australia,NaN,1,-17.763713,177.385334
254,Jewel Caye,Central America,Belize,NaN,2,16.790789,-88.156483
255,Reef Islands,South Pacific Ocean,Vanuatu,NaN,237,-13.621123,167.527657
256,Elizabeth Island,Australia,Australia,NaN,65,-38.416223,145.368971
257,Thatch Cay,North America,United States of America,NaN,230,18.358497,-64.857288
258,Lenur Island,South Pacific Ocean,Vanuatu,NaN,84,-16.515246,167.594725
259,French Bay Property,North America,United States of America,NaN,130,18.315466,-64.904952
260,Private Island Exuma,North America,Bahamas,NaN,46,24.184307,-76.441174
261,Pebble Island,South America,Falkland Islands,NaN,26247,-51.286789,-59.652042
262,Funk Caye,Central America,Belize,NaN,3,16.550108,-88.084820

In [91]:
clean_new_data_pd.to_csv('data.csv', index=False)