In [48]:
import pandas as pd
import scipy.stats as st

In [49]:
price_df = pd.read_csv("../data/with_price.csv")
corruption_df = pd.read_csv("../data/merged_countries.csv")
corruption_df

                     Country  Homicide Rate  CPI Score 2018  Standard error
0                    Antigua            0.0             0.0            0.00
1                  Argentina            6.2            60.0            2.70
2                  Australia            1.1            23.0            1.27
3                    Bahamas           29.7            35.0            5.39
4                     Belize           29.4            71.0            0.00
5                     Brazil           31.3            65.0            4.05
6                     Canada            1.5            19.0            2.16
7                      Chile            4.4            33.0            1.88
8                 Costa Rica           10.2            44.0            3.65
9                    Croatia            1.0            52.0            2.77
10                   Curacao            0.0             0.0            0.00
11                   Ecuador            9.3            66.0            3.46
12                   Estonia            3.7            27.0            1.44
13          Falkland Islands            0.0             0.0            0.00
14                      Fiji            2.5            60.0            0.00
15                   Finland            1.3            15.0            2.74
16                    France            0.9            28.0            1.17
17                    Greece            1.1            55.0            2.51
18                   Grenada            6.3            48.0            3.00
19                  Honduras           55.5            71.0            2.42
20                   Iceland            1.2            24.0            4.33
21                 Indonesia            4.5            62.0            3.35
22                   Ireland            0.8            27.0            3.25
23                     Italy            0.8            48.0            3.29
24                     Japan            0.3            27.0            2.85
25                     Kenya            5.3            73.0            1.82
26                Madagascar            6.9            75.0            2.64
27                  Maldives            3.4            69.0            2.24
28                    Mexico           16.9            72.0            1.83
29               New Zealand            1.1            13.0            2.44
30                 Nicaragua           13.9            75.0            1.13
31                     Palau            0.0             0.0            0.00
32                    Panama           20.5            63.0            1.76
33          Papua New Guinea           10.2            72.0            2.47
34               Philippines           14.8            64.0            1.55
35                    Poland            0.9            40.0            1.69
36                       SVG            0.0             0.0            0.00
37                Seychelles            9.9            34.0            3.08
38           Solomon Islands            4.3            56.0            7.38
39                  Thailand            5.0            64.0            2.08
40                     Tonga            4.6            69.0             NaN
41          Turks and Caicos            0.0             0.0            0.00
42                    Uganda           12.6            74.0            2.13
43      United Arab Emirates            3.8            30.0            4.56
44            United Kingdom            1.3            20.0            2.03
45  United States of America            6.5            29.0            3.25
46                   Vanuatu            2.5            54.0            5.97

In [50]:
distance_mean = price_df['city_distance'].mean()
distance_mean

30.606022727272727

In [51]:
distance_std = price_df['city_distance'].std()
distance_std

110.90263829266118

In [52]:
price_mean = price_df['price'].mean()
price_mean

4861329.215977269

In [53]:
price_std = price_df['price'].std()
price_std

11637309.072921842

In [54]:
price_df['Z_Price'] = (price_df['price'] - price_mean)/price_std
price_df

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,Income Producing,Lake Island,Seasonal,Historic,River Island,Mainland Lot,nearest_city,city_distance,price,Z_Price
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,0,0,0,0,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,0,0,0,0,0,Cudjoe Key,4.54,9.500000e+07,7.745663
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,0,0,0,0,0,Arthur’s Town,60.10,6.200000e+07,4.909956
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,0,0,0,0,0,George Town,40.22,6.000000e+07,4.738095
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,0,0,0,0,0,Avarua,1178.30,5.577867e+07,4.375354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Bone Fish Caye,0,Belize,18.203379,-88.005036,0,0,0,0,0,...,0,0,0,0,0,0,San Pedro,20.02,6.950000e+04,-0.411764
436,Big Tancook Island,12,Canada,44.459238,-64.161885,0,1,0,0,0,...,0,0,1,0,0,0,Chester,6.88,6.810443e+04,-0.411884
437,Half Island,6,Canada,45.588639,-61.207668,0,0,0,0,1,...,0,1,0,0,0,1,Port Hawkesbury,7.08,5.902384e+04,-0.412665
438,Long Caye Beachfront at The Great Blue Hole,0,Belize,17.221948,-87.593735,0,0,0,0,0,...,0,0,0,0,0,0,Belize City,44.20,5.900000e+04,-0.412667
439,Hen Island,0,Canada,41.788300,-82.797509,0,0,0,0,0,...,0,0,0,0,0,0,Port Clinton,20.42,2.570000e+04,-0.415528

In [55]:
refined = price_df['Acreage'].replace(0,1)
price_df['Acreage'] = refined
price_df

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,Income Producing,Lake Island,Seasonal,Historic,River Island,Mainland Lot,nearest_city,city_distance,price,Z_Price
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,0,0,0,0,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,0,0,0,0,0,Cudjoe Key,4.54,9.500000e+07,7.745663
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,0,0,0,0,0,Arthur’s Town,60.10,6.200000e+07,4.909956
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,0,0,0,0,0,George Town,40.22,6.000000e+07,4.738095
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,0,0,0,0,0,Avarua,1178.30,5.577867e+07,4.375354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Bone Fish Caye,1,Belize,18.203379,-88.005036,0,0,0,0,0,...,0,0,0,0,0,0,San Pedro,20.02,6.950000e+04,-0.411764
436,Big Tancook Island,12,Canada,44.459238,-64.161885,0,1,0,0,0,...,0,0,1,0,0,0,Chester,6.88,6.810443e+04,-0.411884
437,Half Island,6,Canada,45.588639,-61.207668,0,0,0,0,1,...,0,1,0,0,0,1,Port Hawkesbury,7.08,5.902384e+04,-0.412665
438,Long Caye Beachfront at The Great Blue Hole,1,Belize,17.221948,-87.593735,0,0,0,0,0,...,0,0,0,0,0,0,Belize City,44.20,5.900000e+04,-0.412667
439,Hen Island,1,Canada,41.788300,-82.797509,0,0,0,0,0,...,0,0,0,0,0,0,Port Clinton,20.42,2.570000e+04,-0.415528

In [56]:
price_df['$/Acre'] = price_df['price']/price_df['Acreage']
price_df

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,Lake Island,Seasonal,Historic,River Island,Mainland Lot,nearest_city,city_distance,price,Z_Price,$/Acre
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,0,0,0,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146,1.454545e+06
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,0,0,0,0,Cudjoe Key,4.54,9.500000e+07,7.745663,3.653846e+06
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,0,0,0,0,Arthur’s Town,60.10,6.200000e+07,4.909956,1.347826e+05
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,0,0,0,0,George Town,40.22,6.000000e+07,4.738095,2.702703e+05
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,0,0,0,0,Avarua,1178.30,5.577867e+07,4.375354,2.509162e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Bone Fish Caye,1,Belize,18.203379,-88.005036,0,0,0,0,0,...,0,0,0,0,0,San Pedro,20.02,6.950000e+04,-0.411764,6.950000e+04
436,Big Tancook Island,12,Canada,44.459238,-64.161885,0,1,0,0,0,...,0,1,0,0,0,Chester,6.88,6.810443e+04,-0.411884,5.675369e+03
437,Half Island,6,Canada,45.588639,-61.207668,0,0,0,0,1,...,1,0,0,0,1,Port Hawkesbury,7.08,5.902384e+04,-0.412665,9.837307e+03
438,Long Caye Beachfront at The Great Blue Hole,1,Belize,17.221948,-87.593735,0,0,0,0,0,...,0,0,0,0,0,Belize City,44.20,5.900000e+04,-0.412667,5.900000e+04
439,Hen Island,1,Canada,41.788300,-82.797509,0,0,0,0,0,...,0,0,0,0,0,Port Clinton,20.42,2.570000e+04,-0.415528,2.570000e+04

In [57]:
value_mean = price_df['$/Acre'].mean()
value_std = price_df['$/Acre'].std()
price_df['Z_Value'] = (price_df['$/Acre'] - value_mean)/value_std
price_df

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,Seasonal,Historic,River Island,Mainland Lot,nearest_city,city_distance,price,Z_Price,$/Acre,Z_Value
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,0,0,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146,1.454545e+06,1.078627
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,0,0,0,Cudjoe Key,4.54,9.500000e+07,7.745663,3.653846e+06,3.264778
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,0,0,0,Arthur’s Town,60.10,6.200000e+07,4.909956,1.347826e+05,-0.233245
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,0,0,0,George Town,40.22,6.000000e+07,4.738095,2.702703e+05,-0.098567
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,0,0,0,Avarua,1178.30,5.577867e+07,4.375354,2.509162e+04,-0.342280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Bone Fish Caye,1,Belize,18.203379,-88.005036,0,0,0,0,0,...,0,0,0,0,San Pedro,20.02,6.950000e+04,-0.411764,6.950000e+04,-0.298137
436,Big Tancook Island,12,Canada,44.459238,-64.161885,0,1,0,0,0,...,1,0,0,0,Chester,6.88,6.810443e+04,-0.411884,5.675369e+03,-0.361580
437,Half Island,6,Canada,45.588639,-61.207668,0,0,0,0,1,...,0,0,0,1,Port Hawkesbury,7.08,5.902384e+04,-0.412665,9.837307e+03,-0.357443
438,Long Caye Beachfront at The Great Blue Hole,1,Belize,17.221948,-87.593735,0,0,0,0,0,...,0,0,0,0,Belize City,44.20,5.900000e+04,-0.412667,5.900000e+04,-0.308574
439,Hen Island,1,Canada,41.788300,-82.797509,0,0,0,0,0,...,0,0,0,0,Port Clinton,20.42,2.570000e+04,-0.415528,2.570000e+04,-0.341675

In [58]:
price_df['P_Value'] = st.norm.cdf(price_df['Z_Value'])
price_df.head()

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,Historic,River Island,Mainland Lot,nearest_city,city_distance,price,Z_Price,$/Acre,Z_Value,P_Value
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,0,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146,1.454545e+06,1.078627,0.859623
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,0,0,Cudjoe Key,4.54,9.500000e+07,7.745663,3.653846e+06,3.264778,0.999452
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,0,0,Arthur’s Town,60.10,6.200000e+07,4.909956,1.347826e+05,-0.233245,0.407786
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,0,0,George Town,40.22,6.000000e+07,4.738095,2.702703e+05,-0.098567,0.460741
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,0,0,Avarua,1178.30,5.577867e+07,4.375354,2.509162e+04,-0.342280,0.366070

In [59]:
price_df['Z_Distance'] = (price_df['city_distance'] - distance_mean)/distance_std
price_df.head()

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,River Island,Mainland Lot,nearest_city,city_distance,price,Z_Price,$/Acre,Z_Value,P_Value,Z_Distance
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146,1.454545e+06,1.078627,0.859623,-0.242700
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,0,Cudjoe Key,4.54,9.500000e+07,7.745663,3.653846e+06,3.264778,0.999452,-0.235035
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,0,Arthur’s Town,60.10,6.200000e+07,4.909956,1.347826e+05,-0.233245,0.407786,0.265945
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,0,George Town,40.22,6.000000e+07,4.738095,2.702703e+05,-0.098567,0.460741,0.086688
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,0,Avarua,1178.30,5.577867e+07,4.375354,2.509162e+04,-0.342280,0.366070,10.348663

In [60]:
price_df['P_Distance'] = st.norm.cdf(price_df['Z_Distance'])
price_df.head()

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,Mainland Lot,nearest_city,city_distance,price,Z_Price,$/Acre,Z_Value,P_Value,Z_Distance,P_Distance
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,0,Ban Ko Kaeo,3.69,1.600000e+08,13.331146,1.454545e+06,1.078627,0.859623,-0.242700,0.404119
1,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,0,Cudjoe Key,4.54,9.500000e+07,7.745663,3.653846e+06,3.264778,0.999452,-0.235035,0.407091
2,Spectabilis Island,460,Bahamas,24.358032,-76.582153,1,1,1,0,1,...,0,Arthur’s Town,60.10,6.200000e+07,4.909956,1.347826e+05,-0.233245,0.407786,0.265945,0.604859
3,Cave Cay,222,Bahamas,23.901611,-76.263142,1,1,1,0,1,...,0,George Town,40.22,6.000000e+07,4.738095,2.702703e+05,-0.098567,0.460741,0.086688,0.534540
4,Nengo Nengo Atoll,2223,France,-18.753102,-141.807896,1,1,1,0,1,...,0,Avarua,1178.30,5.577867e+07,4.375354,2.509162e+04,-0.342280,0.366070,10.348663,1.000000

In [61]:
price_df = price_df.merge(corruption_df, on='Country')
price_df.head()

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,price,Z_Price,$/Acre,Z_Value,P_Value,Z_Distance,P_Distance,Homicide Rate,CPI Score 2018,Standard error
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,160000000.0,13.331146,1.454545e+06,1.078627,0.859623,-0.242700,0.404119,5.0,64.0,2.08
1,Koh Jum Island Lodge,7,Thailand,7.811887,98.976985,0,0,0,0,0,...,3600000.0,-0.108387,5.142857e+05,0.143989,0.557246,-0.188147,0.425381,5.0,64.0,2.08
2,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,95000000.0,7.745663,3.653846e+06,3.264778,0.999452,-0.235035,0.407091,6.5,29.0,3.25
3,Captiva Key,13,United States of America,26.509387,-82.184738,0,0,0,0,0,...,22000000.0,1.472735,1.692308e+06,1.314968,0.905740,-0.216280,0.414385,6.5,29.0,3.25
4,Little Hawkins Island,3,United States of America,31.197381,-81.394983,0,0,1,1,0,...,17800000.0,1.111827,5.933333e+06,5.530637,1.000000,-0.258119,0.398158,6.5,29.0,3.25

In [62]:
homi_mean = price_df['Homicide Rate'].mean()
homi_std = price_df['Homicide Rate'].std()

cpi_mean = price_df['CPI Score 2018'].mean()
cpi_std = price_df['CPI Score 2018'].std()

In [65]:
price_df['Z_Homicide'] = (price_df['Homicide Rate'] - homi_mean)/homi_std
price_df['P_Homicide'] = st.norm.cdf(price_df['Z_Homicide'])
price_df.head()

,Island_Name,Acreage,Country,latitude,longitude,Large Acreage,Ocean Island,Income Potential,Mainland Power,Islands with Beaches,...,$/Acre,Z_Value,P_Value,Z_Distance,P_Distance,Homicide Rate,CPI Score 2018,Standard error,Z_Homicide,P_Homicide
0,Rangyai Island,110,Thailand,7.954390,98.447306,1,1,1,0,1,...,1.454545e+06,1.078627,0.859623,-0.242700,0.404119,5.0,64.0,2.08,-0.567526,0.285178
1,Koh Jum Island Lodge,7,Thailand,7.811887,98.976985,0,0,0,0,0,...,5.142857e+05,0.143989,0.557246,-0.188147,0.425381,5.0,64.0,2.08,-0.567526,0.285178
2,Pumpkin Key,26,United States of America,24.713197,-81.554253,1,1,1,0,0,...,3.653846e+06,3.264778,0.999452,-0.235035,0.407091,6.5,29.0,3.25,-0.444024,0.328513
3,Captiva Key,13,United States of America,26.509387,-82.184738,0,0,0,0,0,...,1.692308e+06,1.314968,0.905740,-0.216280,0.414385,6.5,29.0,3.25,-0.444024,0.328513
4,Little Hawkins Island,3,United States of America,31.197381,-81.394983,0,0,1,1,0,...,5.933333e+06,5.530637,1.000000,-0.258119,0.398158,6.5,29.0,3.25,-0.444024,0.328513

In [73]:
price_df['Z_CPI'] = (price_df['Homicide Rate'] - cpi_mean)/cpi_std
price_df['P_CPI'] = st.norm.cdf(price_df['Z_CPI'])
price_df['Income_Potential'] = price_df['Income Potential']

In [74]:
price_df.to_csv("../data/standardized_info.csv", index=False)